*.ipynb
*.ckpt
**/._.DS_Store
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log
*.wandb
**/wandb/
logs/  
.idea/
.vscode/
.venv/
venv/
env/
.env
logs/
temp/
*.csv
*.json
*.txt
!requirements.txt
results/
*.pt
*.pth
*.zip
.DS_Store